body {
    font-family: 'Chelsea Market', cursive;
}

.card-body {

    font-size: 26px;

}

.container {

    opacity: .85;

}

#order-list, #order-display, .orders {
    background-color: #DA9FC3;
    color: rgb(119, 43, 52);
}