body {
    background-image: url(../images/background.jpg);
    font-family: 'Chelsea Market', cursive;
}

.card-img-top {
    height: 200px;
}

#squidward{
    height: 400px;
    width: 500px
}

.navbar {
    background-color: #DA9FC3;
}

.navbar-brand, .nav-item {
    color: #8D323C;
}