body {
background-image: url(/assets/images/krustykrab.png);
font-family: 'Chelsea Market', cursive;
}

.order-details {
    font-size: 24px;
    font-weight: 500;
}

.jumbotron {
    
    text-align: center;
}

#welcome-title {
    color: #8D323C;
    font-size: 36px;
    font-weight: 500;
}

#welcome-message {
    color: #8D323C;
    font-size: 24px;
}

#welcome-card {
    background-color: #DA9FC3;
}

#start-button {
    margin-bottom: 10px;
}